In [22]:
import pandas as pd
import duckdb

# Load the CSVs produced by the "benchmark_*.py" scripts in the root directory (performance evaluation in the paper)
stats_srm_view = pd.read_csv("/home/marcus/PycharmProjects/OLake/benchmark_srm_view.csv")
stats_bc = pd.read_csv("/home/marcus/PycharmProjects/OLake/benchmark_behavioral_clustering.csv")
stats_join = pd.read_csv("/home/marcus/PycharmProjects/OLake/benchmark_three_way_join.csv")

In [23]:
duckdb.sql("SELECT max(impls) as IMPLS FROM stats_srm_view group by problem_id").df()['IMPLS'].sum()

np.int64(13384)

In [24]:
duckdb.sql("SELECT max(impls) as IMPLS FROM stats_bc group by problem_id").df()['IMPLS'].sum()

np.int64(13384)

In [25]:
stats_srm_view.describe()

        Unnamed: 0        impls        tests  execution_time_ms
count  5090.000000  5090.000000  5090.000000        5090.000000
mean   2544.500000    26.294695   645.721022          53.241383
std    1469.500766     7.030210   409.141960          13.432212
min       0.000000     2.000000    56.000000          25.621409
25%    1272.250000    23.000000   337.000000          44.844520
50%    2544.500000    28.000000   493.000000          52.195459
75%    3816.750000    31.000000   883.000000          60.682705
max    5089.000000    37.000000  2416.000000         117.825909

In [26]:
stats_bc.describe() # grouped by test sequence (not calls)

        Unnamed: 0        impls        tests  execution_time_ms
count  5090.000000  5090.000000  5090.000000        5090.000000
mean   2544.500000    26.294695   188.683301          27.939098
std    1469.500766     7.030210    53.615931           7.379784
min       0.000000     2.000000    12.000000          12.793683
25%    1272.250000    23.000000   156.000000          23.025206
50%    2544.500000    28.000000   199.000000          26.892454
75%    3816.750000    31.000000   228.000000          31.866512
max    5089.000000    37.000000   324.000000          77.590476

In [27]:
stats_join.describe() # joins ALL observations!

        Unnamed: 0   impls   tests  execution_time_ms
count  5090.000000  5090.0  5090.0        5090.000000
mean   2544.500000    -1.0    -1.0          90.746759
std    1469.500766     0.0     0.0          27.330506
min       0.000000    -1.0    -1.0          33.337152
25%    1272.250000    -1.0    -1.0          72.745029
50%    2544.500000    -1.0    -1.0          88.438981
75%    3816.750000    -1.0    -1.0         104.973068
max    5089.000000    -1.0    -1.0         301.553003